
@{
    ViewData["Title"] = "GetPosts";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 col-sm-8">
                 <button id="addQsn" type="button" class="btn btn-primary btn-sm float-right"><i class="fa-duotone fa-chevron-up"></i></button>
                 <small>Vote</small>
                 <button id="addQsn" type="button" class="btn btn-primary btn-sm float-right"><i class="fa-duotone fa-chevron-down"></i></button>
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="bg-primary text-white">
                    <h3>title</h3>
                    <br />
                    <p>description</p>
                    <br />
                    <small>tag</small>
                    <br />
                    <div class="bg-info text-white">
                        <p>Author Name</p>
                        <small>create time</small>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-4 col-sm-8">
                 <button id="addAns" type="button" class="btn btn-primary btn-sm float-right"><i class="fa-duotone fa-chevron-up"></i></button>
                 <small>Vote</small>
                 <button id="addAns" type="button" class="btn btn-primary btn-sm float-right"><i class="fa-duotone fa-chevron-down"></i></button>
                 <button><i class="fa-duotone fa-check"></i></button>
            </div>
            <div class="col-md-8 col-sm-8">
                <div class="bg-light text-white">
                    <p>Answer</p>
                    <br />
                    <small>List of comment</small>
                    <br />
                    <small>tag</small>
                    <br />
                    <div class="bg-info text-white">
                        <p>Author Name</p>
                        <small>create time</small>
                    </div>
                </div>
                <br />
                <div class="bg-light text-white">
                    
                </div>
            </div>
    </div>
    </div>
</div>

